/*------------STYLE RESET-------------*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 14px;
  color: #333333;
  font-family: Manrope;
  font-weight: 500;
  scroll-behavior: smooth !important;
}
/*------------------------------------*/

.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/*------------------------------------*/

.page{
    flex: 1 1 auto;
}

/*------------------------------------*/

[class*="__container"]{
    max-width: 1170px;
    margin: 0 auto;
}

@media(max-width: 1199.98px){
    [class*="__container"] {
        max-width: 970px;
    }
}

@media(max-width: 990.98px){
    [class*="__container"] {
        max-width: 750px;
    }
}

@media(max-width: 767.98px){
    [class*="__container"] {
        max-width: none;
        padding: 0px 15px;
    }
}

/*------------------------------------*/

.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
}
.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    row-gap: 15px;
    min-height: 103px;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media(max-width: 767.98px) {
    .header__container{
        min-height: none;
        flex-direction: column;
    }
}

.header__logo{
    font-weight: 800;
    font-size: 23px;
    color: inherit;
}
.header__menu{

}
.menu{

}

/*------------------------------------*/

.menu__list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 46px;
    row-gap: 10px;
}
.menu__item{

}
.menu__link{
    font-size: 13px;
    font-weight: 700;
    color: inherit;
}
.menu__link:hover{
    text-decoration: underline;
}

@media(max-width: 767.98px) {
    .menu__list{
        justify-content: center;
    }
    .menu__link{
        font-size: 18px;
    }
}

/*------------------------------------*/
.page__main {
    
}

.main-block {
}

.main-block__container {
    padding-top: 183px;
    position: relative;
}
.main-block__container::after {
    background: #BDCCFF;
    content: "";
    position: absolute;
    top: 0;
    left: 68%;
    width: 200%;
    height: 100%;
}
.main-block__body {
    
}

.body-main-block {
    display: flex;
}
.body-main-block__content {
    flex: 1 0 50%;
}
.content-main-block {
}
.content-main-block__body {
    padding-right: 80px;
}
.content-main-block__sub-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
    color: #FF9900;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.content-main-block__title {
    font-weight: 800;
    font-size: 54px;
    line-height: 73px;
    margin-bottom: 20px;
}
.content-main-block__text {
    font-size: 17px;
    line-height: 23px;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
}
.content-main-block__form {
}

.form-main-block {
    display: flex;
    background-color: #fff;
    border: 1px solid #DADADA;
    height: 86px;
    box-shadow: 0px 100px 80px rgba(0, 0,0,0.03), 0px 64.8148px rgba(0,0,0,0.0227778), ;
}
.form-main-block__input {
}
.form-main-block__button {
}

.body-main-block__slider {
    flex: 1 0 50%;
    min-width: 0;
}
.swiper {
    width: 600px;
    height: 600px;
}
.body-main-block__partners {
}

.partners-main-block {
}
.partners-main-block__label {
}
.partners-main-block__items {
}
.partners-main-block__item {
}